@model Social_Network.Models.Razgovor

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Razgovor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ucesnik1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ucesnik1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ucesnik2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ucesnik2)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
