@model Social_Network.Models.Osoba

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Osoba</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.prezime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.prezime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.datumRodjenja)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.datumRodjenja)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.drzava)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.drzava)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.grad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.grad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.spol)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.spol)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefon)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
