@model Social_Network.Models.Objava

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Objava</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tekst)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tekst)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.urlSlike)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.urlSlike)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.datumObjave)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.datumObjave)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pozGlasovi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pozGlasovi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.negGlasovi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.negGlasovi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.oznake)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.oznake)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProfilId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProfilId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
