@model IEnumerable<Social_Network.Models.Objava>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.tekst)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.urlSlike)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.datumObjave)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pozGlasovi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.negGlasovi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.oznake)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProfilId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tekst)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.urlSlike)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.datumObjave)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pozGlasovi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.negGlasovi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.oznake)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProfilId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
